doctype html
html
  head
    title= title
    // Favicons
    // 128x128
    link(rel='shortcut icon' type='image/ico' href='img/favicons/favicon.ico')
    link(rel='icon' type='image/png' href='img/favicons/favicon.png')

    // 192x192, as recommended for Android
    // http://updates.html5rocks.com/2014/11Support-for-theme-color-in-Chrome-39-for-Android
    link(rel='icon' type='image/png' sizes='192x192' href='img/favicons/favicon-192.png')

    // 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices
    link(rel='apple-touch-icon-precomposed' href='img/favicons/favicon-57.png')

    // 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini
    link(rel='apple-touch-icon-precomposed' sizes='72x72' href='img/favicons/favicon-72.png')
    // 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch
    link(rel='apple-touch-icon-precomposed' sizes='114x114' href='img/favicons/favicon-114.png')
    // 144x144 (precomposed) for iPad 3rd and 4th generation
    link(rel='apple-touch-icon-precomposed' sizes='144x144' href='img/favicons/favicon-144.png')
    link(rel='stylesheet', href='/css/uswds.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='#main' class='usa-sr-only') Skip to main content

    header(class='center' role='banner')
      div(class='clearfix')
        img(id='logo' src='img/favicons/favicon-72.png')
        h1#site-name= title

    main#main(class='center clearfix' role='main')
      block content

    footer(class='center' role='contentinfo')
      div
        p
          | This project proudly uses the&nbsp;
          a(href='https://standards.usa.gov/') U.S. Web Design Standards.
          |  Data provided by the&nbsp;
          a(href='https://sunlightlabs.github.io/congress/') Sunlight Congress API

        p
          | Feedback? Create an issue on the&nbsp;
          a(href='https://github.com/markdboyd/usa-bill-tracker') Github repository
          |  for this project.

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/scripts/he/he.js')
    script(src='js/bill-tracker.js' async)
